[Unit]
Description=consul
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/consul-agent.sh
Restart=always

[Install]
WantedBy=multi-user.target
